$primary-color-light: rgb(193,190,255);
$primary-color-dark: rgba(39, 11, 96, 0.5);
$primary-btn-color: rgb(102, 51, 153);
$secondary-btn-color: rgb(148, 143, 239);
$backgroud-primary-color: rgb(212, 212, 212);
$backgroud-secondary-color: rgb(241, 241, 241);
$primary-alert: rgb(249, 60, 60);



