@import "../../styles/variables.scss";
@import "../../styles/index.scss";

.home{
    @include themify($themes) {
        background-color: themed("bgColorSoft");
        color: themed(textColor);
        min-height: calc(100vh - 3rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: flex-start;
        max-width: 60vw;
    }
    font-size: 1.5rem;
    text-transform: capitalize;
}